@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.burger {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out;
}

.burger.open div:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

.burger.open div:nth-child(2) {
  opacity: 0;
}

.burger.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.menu {
  transition: transform 0.3s ease;
}

.menu.translate-x-0 {
  transform: translateX(0);
}

.menu.-translate-x-full {
  transform: translateX(-100%);
}

.custom_text {
  color: #000;
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-color: #a1dfc0;
  -webkit-text-stroke-width: 10px; 
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.custom_text::after {
  -webkit-text-stroke-width: 0; 
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
}
